@page "/games/create"
@using Microsoft.EntityFrameworkCore
@using finalBeeit.Models
@inject IDbContextFactory<finalBeeit.Data.finalBeeitContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Game</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="appid" class="form-label">AppId:</label> 
                <InputNumber id="appid" @bind-Value="Game.AppId" class="form-control" /> 
                <ValidationMessage For="() => Game.AppId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Game.Name" class="form-control" /> 
                <ValidationMessage For="() => Game.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastmodified" class="form-label">LastModified:</label> 
                <InputDate id="lastmodified" @bind-Value="Game.LastModified" class="form-control" /> 
                <ValidationMessage For="() => Game.LastModified" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="pricechangenumber" class="form-label">PriceChangeNumber:</label> 
                <InputNumber id="pricechangenumber" @bind-Value="Game.PriceChangeNumber" class="form-control" /> 
                <ValidationMessage For="() => Game.PriceChangeNumber" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Game Game { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddGame()
    {
        using var context = DbFactory.CreateDbContext();
        context.Game.Add(Game);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
