@page "/games"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<input type="search" @bind="titleFilter" @bind:event="oninput" />

<QuickGrid Class="table" Items="FilteredGames" Pagination="pagination">
    <PropertyColumn Property="game => game.AppId" />
    <PropertyColumn Property="game => game.Name" Sortable="true" />

    <TemplateColumn Context="game">
        <a href="@($"games/details?id={game.Id}")">Details</a> |
        <a href="@($"games/delete?id={game.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

