@page "/"
@using finalBeeit.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Steam Game Search</h1>

<input type="search" @bind="titleFilter" @bind:event="oninput" @bind:after="OnTitleFilterChanged" />

@if (!string.IsNullOrEmpty(notificationMessage))
{
    <div class="@(isSuccess ? "alert alert-success" : "alert alert-danger")" role="alert">
        @notificationMessage
    </div>
}

@if (games == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>App ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in PaginatedGames)
            {
                <tr>
                    <td>@game.AppId</td>
                    <td>@game.Name</td>
                    <td>
                        <button @onclick="() => AddGameToDb(game)">Adicionar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <button @onclick="PreviousPage" >Previous</button>
        <span>Page @currentPage of @TotalPages</span>
        <button @onclick="NextPage" >Next</button>
    </div>
}